<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

</head>
<body>
<div th:insert="components/header"></div>

<div class="page-container">
    <h2>Profile</h2>
    <h2>Balance</h2>
    <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="Money" aria-label="balance" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Add</button>
        </div>
    </div>
    <h2>Orders</h2>



</div>
</body>
</html>