<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New tariff</title>
</head>
<body>
<div th:insert="components/header"></div>
<div class="page-container">
    <h1 class="mx-auto">Add tariff</h1>

    <form method="post" name="tariff" action="/tariffs/addTariff">
        <div>
            <label for="product" class="form-label">Product</label>
            <select class="form-control custom-select custom-select-lg mb-3" id="product" name="product">
                <option selected>Choose...</option>
                <option th:each="product : ${products}"
                        th:value="${product.id}"
                        th:text="${product.product}">
            </select>
        </div>
        <div class="mb-3">
            <label for="tariff" class="form-label">Tariff name</label>
            <input type="text" class="form-control" id="tariff" name="tariff"/>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" name="price"/>
        </div>
        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Submit"/>
    </form>

</div>
</body>
</html>