<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="components/header"></div>
<div class="page-container">
    <h1 class="mx-auto">Update tariff</h1>

    <form method="post" name="tariff" action="/tariffs/addTariff">
        <div class="mb-3">
            <label for="tariffName" class="form-label">Tariff name</label>
            <input type="text" class="form-control" id="tariffName" name="tariff"/>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" name="price"/>
        </div>
        <input class="w-100 btn btn-lg btn-primary" type="submit" value="Submit"/>
    </form>
</div>

</body>
</html>